*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{
background:#080b18;
color:white;
}


.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;

}


.logo{

font-size:30px;
font-weight:700;

}

.logo span{

color:#6c63ff;

}


.navbar ul{

display:flex;
gap:35px;
list-style:none;

}


.navbar a{

color:white;
text-decoration:none;

}


.btn{

background:linear-gradient(45deg,#6c63ff,#00d4ff);
padding:12px 25px;
border-radius:30px;
color:white;
text-decoration:none;
}


.btn-outline{

border:1px solid #6c63ff;
padding:11px 25px;
border-radius:30px;
margin-right:10px;

}



.hero{

display:flex;
justify-content:space-between;
align-items:center;
padding:80px 8%;

}



.hero-text{

width:50%;

}


.hero h1{

font-size:60px;
line-height:1.2;

}


.hero h1 span{

color:#6c63ff;

}


.hero p{

margin:25px 0;
font-size:18px;
color:#b8b8c7;

}



.hero-card{

background:rgba(255,255,255,0.08);
padding:40px;
border-radius:25px;
backdrop-filter:blur(20px);
box-shadow:0 0 40px #000;

}


.stats{

display:flex;
gap:25px;
margin-top:30px;

}


.stats div{

background:#11162b;
padding:20px;
border-radius:15px;

}


.features{

padding:70px 8%;
text-align:center;

}


.cards{

display:flex;
gap:30px;
margin-top:40px;

}


.card{

background:#11162b;
padding:30px;
border-radius:20px;
flex:1;

}



footer{

text-align:center;
padding:30px;
color:#aaa;

}